* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  color: #350b40;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
  margin-top: 0;
  padding-top: 200px
}

h2 {
  font-size: 2.5em;
}

h2, h3 {
  font-family: 'Rubik', sans-serif;
  margin-top: 30px;
}

p {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  line-height: 2;
  padding-top: 20px;
}

.spandev {
  text-decoration: underline;
}

.top_container {
  height: 100vh;
  position: relative;
  /* background-color: #dddddd; */
}

.middle-container {
  background-color: #f7d9d9;
}

.profile p {
  width: 30%;
  margin: 0 auto 30px auto;
}

.contact-message {
  width: 30%;
  margin: 0 auto 30px auto;
}

.bottom-container {
  background-color: #f25287;
}

.top_cloud {
  position: absolute;
  top: 50px;
  right: 400px;
}

.mountain {
  position: absolute;
  bottom: 0;
  right: 400px;
}

.bottom_cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.web-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile-img {
  width: 15%;
  border-radius: 50%;
  margin: 30px;
}

hr {
  border: none;
  border-top: 5px dotted #ad6c80;
  width: 5%;
  margin: 100px auto;
}

.btn {
  display: inline-block;
  background-color: #ad6c80;
  color: white;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-size: 1.5em;
  padding: 10px;
  margin: 20px 20px 60px 20px;
  border-radius: 10px;
  transition: 0.5s;
}

.btn:hover {
  background-color: #ee99a0;
}

.footer-link {
  color: white;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-size: 1.5em;
  margin: 60px 20px 60px 20px;
  line-height: 5;
  transition: 0.5s;
}

.footer-link:hover {
  color: #dddddd;
}

.bottom-container p {
  line-height: 5;
  color: white;
}